.card {
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 3rem 6rem 0 #9b9b9b3a;
    border-radius: 10px;
}
.card-content p {
    color: rgb(102, 102, 102);
}
.author-name {
    font-weight: bold;
    color: #07ce9c;
}