.bannier-section2{
    background-color: var(--main-color);
    margin: 0 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.bannier-section2-content {
    padding: 10rem 0;
    text-align: center;
    color: #fff;
    width: 50%;
}
.bannier-section2-content h2 {
    font-size: 5rem;
}
.bannier-section2-content a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 1em 2em;
    background-color: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media (max-width: 695px){
    .bannier-section2-content h2 {
        font-size: 3rem;
    }
}
@media (max-width: 462px){
    .bannier-section2-content a {
        font-size: 1.2rem
    }
    .bannier-section2-content h2 {
        font-size: 2.4rem;
    }
}