.section2 {
    padding: 0 10rem;
    margin: 5rem 0;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-self: center;
}

@media (max-width: 1007px){
    .logo-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media (max-width: 655px){
    .section2 {
        padding: 0 2rem;
    }
}
@media (max-width: 536px){
    .logo img {
        width: 12rem;
    }
}
@media (max-width: 531px){
    .logo-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}